<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/WanderLust"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/WanderLust"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/WanderLust"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">
            <span class="made-with-heart">
                Made with <i class="fa-solid fa-heart"></i> by Huzaefa
            </span>
            <br>
            <span>
                &copy; Wanderlust&nbsp;Private&nbsp;Limited
            </span>
        </div>

        <div class="f-info-links">
            <a href="/privacy">Privacy&nbsp;Policy</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/terms">Terms&nbsp;of&nbsp;Service</a>
        </div>
    </div>
</footer>