<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/WanderLust"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/WanderLust"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/WanderLust"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust &nbsp; Private &nbsp; Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy&nbsp;Policy</a> &nbsp;&nbsp;
            <a href="/terms">Terms&nbsp;of&nbsp;Service</a>
        </div>
    </div>
</footer>